@page
@model RecruitCatSameemz.Pages.Industries.CreateModel

@{
    ViewData["Title"] = "Create New Industry";
}

<h1>Create New Industry</h1>

<h4>Industry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Industry.IndustryName" class="control-label"></label>
                <input asp-for="Industry.IndustryName" class="form-control" />
                <span asp-validation-for="Industry.IndustryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.Type" class="control-label"></label>
                <input asp-for="Industry.Type" class="form-control" />
                <span asp-validation-for="Industry.Type" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Industry.CompanyId" class="control-label"></label>
                <input asp-for="Industry.CompanyId" class="form-control" />
                <span asp-validation-for="Industry.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.CandidateId" class="control-label"></label>
                <input asp-for="Industry.CandidateId" class="form-control" />
                <span asp-validation-for="Industry.CandidateId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
